
.tabsHeader {
    height: 51px;
}

.clearfix::after, .line::after {
    content: "";
    display: table;
    clear: both;
    border-collapse: collapse;
}
.tabsHeader nav {
    border-top: 1px solid #ccc;
}



.tabsSwitch:first-child {
    border-left: 1px solid #ccc;
}

.tabsSwitch.active {
    border-bottom: 1px solid #fff;
}

.tabsSwitch:hover, .tabsSwitch.active, .tabsSwitch:focus {
    color: #f56b2a;
    background: #fff;
}


.link.active, .link-like.active, a.active {
    color: #f56b2a;
}

.tabsSwitch {
    display: block;
    float: left;
    height: 50px;
    padding: 0 10px;

    line-height: 49px;
    text-align: center;
    font-size: 14px;
    font-size: 1.4rem;
    color: #1a1a1a;
    background: #e6e6e6;
    font-family: "OpenSansSemiBold",sans-serif;
    border: none;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}




.list_properties {
    float: right;
}


ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.item_imagePic {
    display: block;
    height: 100%;
    min-height: 120px;
    text-align: center;
    line-height: 120px;
}



.carousel .thumbnails ul li.thumb .item_imagePic {
    line-height: 123px
}
.carousel .thumbnails ul li.thumb .item_imagePic img {
    max-height: 100%;
    margin: 0 auto
}


.item_imageNumber span {
    display: block;
    margin-top: -18px;
    color: #f56b2a;
    font-family: "OpenSansBold",sans-serif;
}
.list_item .saveAd {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
}

.list_item .saveAd>div {
    padding: 15px;
    padding: 1.5rem;
}

i.nomargin {
    margin-right: 0;
}

.mediumgrey {
    color: #ccc;
}

.icon-2x {
    font-size: 20px;
    font-size: 2rem;
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 14px;
    font-size: 1.4rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.link i, .link-like i, a i {
    text-decoration: none;
}

.icon-heart-outline:before {
    content: "\e611";
}


