{{ include('default/scripts.html.twig') }}
{{ include('default/allstyle.html.twig') }}

{{ include('default/top_header.html.twig') }}
<style>

    .work-feature-block {
        padding: 10px 0;
        border-top: 1px solid #cacaca;
        border-bottom: 1px solid #cacaca;
    }

    .work-feature-block-image {
        display: block;
        margin: auto;
        padding: 10px 0;
    }


</style>
<div class="work-feature-block row">
    <div class="columns medium-7">
        <img class="work-feature-block-image" src="https://placehold.it/600x400"/>
        <hr>
        <h3>Description</h3>
        <p class="second_batta">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
    <div class="columns medium-5">
        <h3 class="color_site work-feature-block-header">$ 25.00</h3>
        <h3>Audi A3 en bonne etat</h3>
        <i class="fi-clock  small "><span class="clock_pub float-left1">il ya 3 minutes</span> </i>
        <hr>
        <ul class="contact-us-list">
            <li class="address">Tunisia, Tunisie </li>
            <!--<li class="email"><a href="mailto:">admin@batta.com</a></li>!-->
            <li class="phone">
                (216) 98 123 456
            </li>
        </ul>

       <!-- <ul>
            <li><i class="fa fa-tag ic color_grey"><h5 class="h5_batta color_grey">Immobilier</h5></i></li>
            <li><i class="fa fa-map-marker ic ic2 color_grey" ><h5 class="h5_batta2 color_grey">Tunisia</h5></i></li>
        </ul>!-->
        <hr>
        <a class="button expanded" href="#">Afficher le numéro</a>

    </div>
</div>


